/* Shortcode for "open till", "closing in" */

.ot-today-auto {
    font-size: 1.3rem;
    text-decoration: none;
}

.loading {
    font-weight: bold;
    color: red;
}

/* Opening Times Shortcode */

.day {
    padding: 0;
    margin-bottom: 0.3rem;
}

.today {
    font-weight: bold;
    color: green;
    background-color: rgb(95, 57, 10);
}

.closed {
    font-weight: bold;
    color: red;
}

